.link {
    text-decoration: none;
}
.list {
    list-style-type: none;
}
button {
    cursor: pointer;
}
body {
    font-family: 'Roboto', sans-serif;
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--navyblue, #2E2F42);
}
.blue-text {
    color: var(--iris, #4D5AE5);
}
.white-text {
    color: var(--cloud, #F4F4FD);
}
.page-header {
    background: var(--white, #FFF);
}

h2 {
    color: var(--navyblue, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
}
h3 {
    color: var(--navyblue, #2E2F42);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
p{
    color: var(--slate, #434455);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.menu a {
    color: var(--navyblue, #2E2F42);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.address-list a {
    color: var(--slate, #434455);
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.hero-section {
    background: var(--navyblue, #2E2F42);
}
.text-hero {
    color: var(--white, #FFF);
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}
.order-button {
    color: var(--white, #FFF);
    background: var(--iris, #4D5AE5);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    
}
.team-section {
    background: var(--cloud, #F4F4FD);
}

.page-footer {
    background: var(--navyblue, #2E2F42);
}